<h1>Calculate the monthly payment</h1>

<form action="/payment/results">
  <label for="lion">APR</label>
  <input id="lion" type="text" name="users_apr" placeholder="E.g. 5.42">

  <label for="elephant">Number of years</label>
  <input id="elephant" type="text" name="users_years" placeholder="How many years to repay?">

  <label for="cars">Principal</label>
  <input id="cars" type="text" name="users_principal" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
