<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="giraffe">Enter a number</label>

  <input id="giraffe" type="text" name="users_number">

  <button>Calculate square</button>
</form>
