<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @rand_min %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @rand_max %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @rand_result %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
